/* static/style.css */

h1 {
    font-variant-caps: all-small-caps;
    font-size: 46px;
    font-family: sans-serif;
}

h3 {
    color: white;
    font-size: 36px;
}

li {
    color: red;
    font-size: 50px;
}

img {
    border: 1px solid black;
}

body, html {
    margin: 0;
    padding: 0;
    background: #DDD;
    height: 100%;
    display: grid;
    box-sizing: border-box;
}

div.verticalhorizontal {
    margin: auto;
    padding-bottom: 60px;
    text-align: center;
}