<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>ConfO: deviation statistics</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="verticalhorizontal">
        <h1>Overall deviation statistics</h1>
        <img src="/static/images/{{filename}}" alt="Decorated Model">
    </div>

  </body>
</html>