<!DOCTYPE html>
<html lang=en>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>ConfO: real time conformance checker</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="verticalhorizontal">
        <h1>Server is up!</h1>
        <p>{{ interface_stats }}</p>
        <a href="{{ url('stats') }}">Deviations view</a>
    </div>
  </body>
</html>